.Button{
    display: flex;
    height: 20px;
    background-color: white;
    border-bottom: 5px solid ;
    border-right: 5px solid;
    border-top:2px solid black ;
    border-left:2px solid black ;
    padding: 15px 50px 15px 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}